<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @lesson %>

  <% if @lesson.completed_by_user(current_user) %>

    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Lesson Completed</span>
    <% if @lesson.next_lesson %>
    <p>
      <%= link_to "Next lesson", lesson_path(@lesson.next_lesson), class: "actions group relative w-full flex
        justify-center py-2 px-4 border border-transparent text-sm font-medium
        rounded-md text-white bg-gray-600 hover:bg-gray-700
        focus:outline-none focus:ring-2 focus:ring-offset-2
        focus:ring-gray-500" %>
    </p>
    <% end  %>
    <% else %>
    <p>
      <%= link_to "Complete lesson",  lesson_complete_lesson_path(@lesson), class: "actions group relative w-full flex
        justify-center py-2 px-4 border border-transparent text-sm font-medium
        rounded-md text-white bg-indigo-600 hover:bg-indigo-700
        focus:outline-none focus:ring-2 focus:ring-offset-2
        focus:ring-indigo-500" %>
    </p>
  <% end %>
  <% if @lesson.prerequisite %>
    <p>
      <%= link_to "Previous Lesson", lesson_path(@lesson.prerequisite), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
  <% end %>
    <p>
      <%= link_to "Back to course module", course_module_path(@lesson.course_module), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>
